<div class="container-fluid">
  <app-page-title title="Manejo de Roles" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="header-title">Listado</h4>
          <p class="text-muted font-13 mb-4">

          </p>
          <div class="row mb-md-2">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="tickets-table_length"><label
                  class="d-inline-flex align-items-center">Mostrar
                  <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                    [(ngModel)]="service.pageSize"
                    class="custom-select custom-select-sm form-control form-control-sm mx-2">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                  </select> registros</label></div>
            </div>
            <!-- Search -->
            <div class="col-sm-12 col-md-4">
              <div id="tickets-table_filter" class="dataTables_filter text-md-right"><label
                  class="d-inline-flex align-items-center">Buscar:
                  <input type="text" name="searchTerm" class="form-control form-control-sm ml-2"
                    aria-controls="tickets-table" [(ngModel)]="service.searchTerm"></label></div>
            </div>
            <div class="col-sm-12 col-md-2">
              <div class="button-list text-right">
                <!-- Responsive modal -->
                <button type="button" class="btn btn-info btn-sm" 
                (click)="responsiveModal(responsiveData)">
                Agregar Rol</button>
              </div>
            </div>
            <!-- End search -->
          </div>
          <!-- Table -->
          <div class="table-responsive">
            <app-ui-preloader [display]="dataLoading | async"></app-ui-preloader>
            <table id="cost-category-table" class="table datatables dt-responsive nowrap">
              <thead>
                <tr>
                  <th sortable="id" (sort)="onSort($event)">Codigo</th>
                  <th sortable="name" (sort)="onSort($event)">Rol</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr tr *ngFor="let table of tables$ | async">
                  <td>
                    <ngb-highlight [result]="table.id" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.name" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <button type="button" class="btn btn-xs btn-outline-info btn-rounded" ngbTooltip="Editar Rol"
                      (click)="responsiveModal(responsiveData, table.id)">
                        <i class="fe-edit"></i>
                    </button>
                    <a type="button" class="btn btn-xs btn-outline-success btn-rounded" ngbTooltip="Vistas Acciones"
                      [routerLink]="['/security/rol-views-actions', table.id]">
                        <i class="fe-award"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- End table -->
          <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Mostrando
                {{service.startIndex}} hasta
                {{service.endIndex}} de {{service.totalRecords}}
                registros
              </div>
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-right pagination-rounded">
                <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
                </ngb-pagination>
              </div>
            </div>
            <!-- End Pagination -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Responsive Modal -->
<ng-template #responsiveData let-modal="close">
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="IsEdit">Editar Rol</h4>
    <h4 class="modal-title" *ngIf="!IsEdit">Crear Rol</h4>
    <button type="button" class="close" (click)="modal('Cross click')" aria-hidden="true">×</button>
  </div>
  <form class="needs-validation" (ngSubmit)="validSubmit()" [formGroup]="innerform">
    <app-ui-preloader [display]="loading"></app-ui-preloader>
    <div class="modal-body p-4">
      <div class="center-div">        
        <div class="row"> 
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <input type="hidden" class="form-control" name="id" formControlName="id" value="0">
              <label>Rol Name</label>
              <div class="input-group mb-2">
                <input type="text" class="form-control" name="name" formControlName="name" value="" 
                  [ngClass]="{'is-invalid': submit && form.name.errors}">                    
              </div>
            </div> 
          </div>       
        </div>      
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light waves-effect btn-sm"
        (click)="modal('Cross click')">Cerrar</button>
      <button type="submit" class="btn btn-success btn-sm">Guardar</button>
    </div>
  </form>
</ng-template>