<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card-box">
        <div class="row">
          <div class="col-lg-8">
            <h4>{{project.id}} - {{project.title}}</h4>
          </div>
          <div class="col-lg-4">
            <div class="text-lg-right mt-3 mt-lg-0">
              <small>{{project.organizationName}}</small>
            </div>
          </div><!-- end col-->
        </div> <!-- end row -->
      </div> <!-- end card-box -->
    </div><!-- end col-->
  </div>
  <div class="row">
    <!-- Upcoming -->
    <div class="col-lg-4">
      <div class="card-box">
        <ng-template [ngTemplateOutlet]="CardAction"></ng-template> <!-- dropdown -->

        <h4 class="header-title mb-2">To do</h4>

        <ul class="sortable-list taskList list-unstyled ui-sortable" id="upcoming" dndDropzone dndEffectAllowed="move"
          (dndDrop)="onDrop($event, 1)">
          <li class="dndPlaceholder" dndPlaceholderRef></li>
          <ng-container *ngFor="let task of tables$ | async">
            <li *ngIf="task.taskStatusId == 1" [dndDraggable]="task" dndEffectAllowed="move"
              (dndMoved)="onDragged(task, pendingTasks)">
              <ng-template [ngTemplateOutlet]="TaskContent" [ngTemplateOutletContext]="{task:task}"></ng-template>
            </li>
          </ng-container>
        </ul>
        <a href="javascript: void(0);" (click)="onShowTask()" class="btn btn-primary btn-block mt-3"><i class="mdi mdi-plus-circle"></i>
          Agregar Tarea</a>
      </div>
    </div> <!-- end col -->
    <!-- End Upcoming -->

    <!-- Progress  -->
    <div class="col-lg-4">
      <div class="card-box">
        <ng-template [ngTemplateOutlet]="CardAction"></ng-template> <!-- dropdown -->

        <h4 class="header-title mb-2">Doing</h4>

        <ul class="sortable-list taskList list-unstyled ui-sortable" id="inprogress" dndDropzone dndEffectAllowed="move"
          (dndDrop)="onDrop($event, 2)">
          <li class="dndPlaceholder" dndPlaceholderRef></li>

          <ng-container *ngFor="let task of tables$ | async">
            <li *ngIf="task.taskStatusId == 2" class="task-medium" [dndDraggable]="task" dndEffectAllowed="move"
              (dndMoved)="onDragged(task, inprogressTasks)">
              <ng-template [ngTemplateOutlet]="TaskContent" [ngTemplateOutletContext]="{task:task}"></ng-template>
            </li>
          </ng-container>
        </ul>

        <a href="javascript: void(0);" (click)="onShowTask()" class="btn btn-primary btn-block mt-3"><i class="mdi mdi-plus-circle"></i>
          Agregar Tarea</a>
      </div> <!-- end card-box -->
    </div> <!-- end col -->
    <!-- End progress -->

    <!-- Completed -->
    <div class="col-lg-4">
      <div class="card-box">
        <ng-template [ngTemplateOutlet]="CardAction"></ng-template> <!-- dropdown -->

        <h4 class="header-title mb-2">Done</h4>

        <ul class="sortable-list taskList list-unstyled ui-sortable" id="completed" dndDropzone dndEffectAllowed="move"
          (dndDrop)="onDrop($event, 3)">
          <li class="dndPlaceholder" dndPlaceholderRef></li>
          <ng-container *ngFor="let task of tables$ | async">
            <li *ngIf="task.taskStatusId == 3" class="task-medium" [dndDraggable]="task" dndEffectAllowed="move"
              (dndMoved)="onDragged(task, completedTasks)">
              <ng-template [ngTemplateOutlet]="TaskContent" [ngTemplateOutletContext]="{task:task}"></ng-template>
            </li>
          </ng-container>
        </ul>
        <a href="javascript: void(0);" (click)="onShowTask()" class="btn btn-primary btn-block mt-3"><i class="mdi mdi-plus-circle"></i>
          Agregar Tarea</a>
      </div> <!-- end card-box -->
    </div> <!-- end col -->
    <!-- End Completed -->
  </div>

</div>

<!-- Card Action Dropdown -->
<ng-template #CardAction>
  <div class="dropdown float-right" ngbDropdown>
    <a href="javascript: void(0);" class="dropdown-toggle arrow-none" data-toggle="dropdown" aria-expanded="false"
      ngbDropdownToggle>
      <i class="mdi mdi-dots-vertical m-0 text-muted h3"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
      <a class="dropdown-item" href="javascript:void(0);">Editar</a>
      <a class="dropdown-item" href="javascript:void(0);">Eliminar</a>
      <a class="dropdown-item" href="javascript:void(0);">Add Members</a>
      <a class="dropdown-item" href="javascript:void(0);">Add Due Date</a>
    </div>
  </div> <!-- end dropdown -->
</ng-template>

<!-- Task  -->
<ng-template #TaskContent let-task='task'>
  <a (click)="onShowTask(task)" class="right-bar-toggle waves-effect waves-light">
    <span class="badge bg-soft-danger text-danger float-right" [ngClass]=" 
    {
      'bg-soft-success text-success': task.taskStatusId == 1,
      'bg-soft-danger text-danger': task.taskStatusId == 3,
      'bg-soft-warning text-warning': task.taskStatusId == 2 
    }"> {{ task.taskStatusName | titlecase}}</span>
    <h5 class="mt-0">
      {{ task.title }}
    </h5>
    <p>{{ task.description }}</p>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col">
        <p class="font-13 mt-2 mb-0"><i class="mdi mdi-calendar"></i> {{ task.dueDate | date:'dd-MM-yyyy' }}</p>
      </div>
      <div class="col-auto">
        <a href="javascript: void(0);" class="text-muted">
          <img [src]="task.userImageUrl ? urlAPI + task.userImageUrl : 'assets/images/users/user.png'" alt="task-user"
            class="avatar-sm img-thumbnail rounded-circle">
        </a>
      </div>
    </div>
  </a>
</ng-template>