<div class="container-fluid">
  <app-page-title title="Manejo de Usuarios" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="header-title">Listado</h4>
          <p class="text-muted font-13 mb-4">

          </p>
          <div class="row mb-md-2">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="tickets-table_length"><label
                  class="d-inline-flex align-items-center">Mostrar
                  <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                    [(ngModel)]="service.pageSize"
                    class="custom-select custom-select-sm form-control form-control-sm mx-2">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                  </select> registros</label></div>
            </div>
            <!-- Search -->
            <div class="col-sm-12 col-md-4">
              <div id="tickets-table_filter" class="dataTables_filter text-md-right"><label
                  class="d-inline-flex align-items-center">Buscar:
                  <input type="text" name="searchTerm" class="form-control form-control-sm ml-2"
                    aria-controls="tickets-table" [(ngModel)]="service.searchTerm"></label></div>
            </div>
            <div class="col-sm-12 col-md-2">
              <div class="button-list text-right">
                <!-- Responsive modal -->
                <button type="button" class="btn btn-info btn-sm" 
                (click)="responsiveModal(responsiveData)">
                Agregar Usuario</button>
              </div>
            </div>
            <!-- End search -->
          </div>
          <!-- Table -->
          <div class="table-responsive">
            <app-ui-preloader [display]="dataLoading | async"></app-ui-preloader>
            <table id="cost-category-table" class="table datatables dt-responsive nowrap">
              <thead>
                <tr>
                  <th sortable="id" (sort)="onSort($event)">Codigo</th>
                  <th sortable="userName" (sort)="onSort($event)">Usuario</th>
                  <th sortable="firstName" (sort)="onSort($event)">Nombre</th>
                  <th sortable="lastName" (sort)="onSort($event)">Apellido</th>
                  <th sortable="email" (sort)="onSort($event)">Correo</th>
                  <th sortable="phoneNumber" (sort)="onSort($event)">Telefono</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr tr *ngFor="let table of tables$ | async">
                  <td>
                    <ngb-highlight [result]="table.id" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.userName" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.firstName" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.lastName" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.email" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.phoneNumber" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <button type="button" class="btn btn-xs btn-outline-info btn-rounded" ngbTooltip="Editar Usuario"
                      (click)="responsiveModal(responsiveData, table.id)">
                        <i class="fe-edit"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- End table -->
          <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Mostrando
                {{service.startIndex}} hasta
                {{service.endIndex}} de {{service.totalRecords}}
                registros
              </div>
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-right pagination-rounded">
                <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
                </ngb-pagination>
              </div>
            </div>
            <!-- End Pagination -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Responsive Modal -->
<ng-template #responsiveData let-modal="close">
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="IsEdit">Editar Usuario</h4>
    <h4 class="modal-title" *ngIf="!IsEdit">Crear Usuario</h4>
    <button type="button" class="close" (click)="modal('Cross click')" aria-hidden="true">×</button>
  </div>
  <form class="needs-validation" (ngSubmit)="validSubmit()" [formGroup]="innerform">
    <app-ui-preloader [display]="loading"></app-ui-preloader>
    <div class="modal-body p-4">
      <div class="center-div">        
        <div class="row"> 
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <input type="hidden" class="form-control" name="id" formControlName="id" value="0">
              <label>Usuario</label>
              <div class="input-group mb-2">
                <input type="text" class="form-control" name="userName" formControlName="userName" value="" 
                  [ngClass]="{'is-invalid': submit && form.userName.errors}">                    
              </div>
            </div> 
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <label>Correo</label>
              <div class="input-group mb-2">
                <input type="text" class="form-control" name="email" formControlName="email" value="" 
                  [ngClass]="{'is-invalid': submit && form.email.errors}">
                <div *ngIf="submit && form.email.errors" class="invalid-feedback">
                  <span *ngIf="form.email.errors.required">La Email es obligatoria</span>
                </div>
              </div>
            </div>            
          </div> 
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <input type="hidden" class="form-control" name="id" formControlName="id" value="0">
              <label>Nombre</label>
              <div class="input-group mb-2">
                <input type="text" class="form-control" name="firstName" formControlName="firstName" value="" 
                  [ngClass]="{'is-invalid': submit && form.firstName.errors}">
                <div *ngIf="submit && form.firstName.errors" class="invalid-feedback">
                  <span *ngIf="form.firstName.errors.required">El Nombre es obligatorio</span>
                </div>
              </div>
            </div> 
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <label>Apellido</label>
              <div class="input-group mb-2">
                <input type="text" class="form-control" name="lastName" formControlName="lastName" value="" 
                  [ngClass]="{'is-invalid': submit && form.lastName.errors}">
                <div *ngIf="submit && form.lastName.errors" class="invalid-feedback">
                  <span *ngIf="form.lastName.errors.required">El Apellido es obligatorio</span>
                </div>
              </div>
            </div> 
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <label>Telefono</label>
              <div class="input-group mb-2">
                <input type="text" class="form-control" name="phoneNumber" formControlName="phoneNumber" value="" 
                  [ngClass]="{'is-invalid': submit && form.phoneNumber.errors}">
                <div *ngIf="submit && form.phoneNumber.errors" class="invalid-feedback">
                  <span *ngIf="form.phoneNumber.errors.required">El Telefono es obligatorio</span>
                </div>
              </div>
            </div> 
          </div>
          <div *ngIf="!IsEdit" class="col-xs-6 col-md-6">
            <div class="form-group mb-3">
              <label for="password">Contraseña</label>
              <input type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submit && form.password.errors }" id="password" />
              <div *ngIf="submit && form.password.errors" class="invalid-feedback">
                <div *ngIf="form.password.errors.required">Contraseña es obligatoria</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <label>Rol <span class="text-danger">*</span></label>
              <ng-select [items]="roles" bindValue="id" bindLabel="name" 
                placeholder="Seleccionar" name="rolId" formControlName="rolId"
                [ngClass]="{'is-invalid': submit && form.rolId.errors}" >                
              </ng-select>
              <div *ngIf="submit && form.rolId.errors" class="invalid-feedback">
                <span *ngIf="form.rolId.errors.required">El Rol es obligatorio.</span>
              </div>
            </div>
          </div>            
        </div>      
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light waves-effect btn-sm"
        (click)="modal('Cross click')">Cerrar</button>
      <button type="submit" class="btn btn-success btn-sm">Guardar</button>
    </div>
  </form>
</ng-template>