<div class="account-pages mt-5 mb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-pattern">
          <div class="card-body p-4">
            <!-- Logo -->
            <div class="text-center w-75 m-auto">
              <a routerLink="/account/login">
                <img src="assets/images/logo_consite.png" alt="" height="40" />
              </a>
              <p class="text-muted mb-4 mt-3">Cambio contraseña</p>
            </div>

            <form class="needs-validation" (ngSubmit)="typeSubmit()" [formGroup]="typeValidationForm">
              <app-ui-preloader [display]="loading"></app-ui-preloader>

              <div class="form-group mb-3" >
                <input type="hidden" class="form-control" name="username" formControlName="username" value="">
                <input type="hidden" class="form-control" name="token" formControlName="token" value="0">

                <label>Nueva Contraseña </label>
                <input type="password" class="form-control" placeholder="Contraseña" formControlName="password"
                  [ngClass]="{'is-invalid': typesubmit && type.password.errors}" />
                <div *ngIf="typesubmit && type.password.errors" class="invalid-feedback">
                  <span *ngIf="type.password.errors.required">La contraseña es obligatoria.</span>
                  <span *ngIf="type.password.errors.minlength">La contraseña debe tener mas de 6 caracteres.</span>
                </div>
              </div>
                    
              <div class="form-group mb-3">
                <label>Confirmar contraseña </label>
                    <input type="password" class="form-control" placeholder="Confirmar Contraseña"
                      formControlName="confirmpwd" [ngClass]="{'is-invalid': typesubmit && type.confirmpwd.errors}" />
                    <div *ngIf="typesubmit && type.confirmpwd.errors" class="invalid-feedback">
                      <span *ngIf="type.confirmpwd.errors.required">Por favor confirmar contraseña.</span>
                      <span *ngIf="type.confirmpwd.errors.mustMatch">El valor debe coincidir.</span>
                    </div>
              </div>
                    
              <div class="form-group mb-0 text-center">
                <button class="btn btn-primary btn-block" type="submit">Cambiar Contraseña</button>
              </div>
              
            </form>

          </div> <!-- end card-body-->
        </div>
        <!-- end card -->

        <div class="row mt-3">
          
        </div>
        <!-- end row -->

      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->

<footer class="footer footer-alt">
  2015 - 2019 &copy; UBold theme by <a href="" class="text-white-50">Coderthemes</a> 
</footer>