<!-- ========== Left Sidebar Start ========== -->
<ng-template #contentTemplate>
  <!--- Sidemenu -->
  <div id="sidebar-menu">
      <ul class="metismenu" id="side-menu" #sideMenu>

          <li class="menu-title">Navegación</li>          

          <li>
            <a href="javascript: void(0);" class="waves-effect">
                <i class="fe-briefcase"></i>
                <span> Manejo de Tickets </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="nav-second-level collapse" aria-expanded="false">
                <li>
                    <a routerLink="/tickets-management/tickets" routerLinkActive="active" class="side-nav-link-ref">Tickets</a>
                </li>                  
            </ul>
          </li> 
          
          <li>
            <a href="javascript: void(0);" class="waves-effect">
                <i class="fe-settings"></i>
                <span> Configuracion Tickets </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="nav-second-level collapse" aria-expanded="false">
                <li>
                    <a routerLink="/tickets-management/types" routerLinkActive="active" class="side-nav-link-ref">Tipos de Tickets</a>
                </li>
                <li>
                    <a routerLink="/tickets-management/categories" routerLinkActive="active" class="side-nav-link-ref">Categorias de Tickets</a>
                </li>
                <li>
                    <a routerLink="/tickets-management/processes" routerLinkActive="active" class="side-nav-link-ref">Procesos de Tickets</a>
                </li>
                <li>
                    <a routerLink="/tickets-management/status" routerLinkActive="active" class="side-nav-link-ref">Estatus de Tickets</a>
                </li>                    
            </ul>
          </li> 

          <li>
            <a href="javascript: void(0);" class="waves-effect">
                <i class="mdi mdi-library-movie"></i>
                <span> Portafolio </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="nav-second-level collapse" aria-expanded="false">
                <li>
                    <a routerLink="/projects/list" routerLinkActive="active" class="side-nav-link-ref">Proyectos</a>
                </li>
            </ul>
          </li>

          <li>
            <a href="javascript: void(0);" class="waves-effect">
                <i class="mdi mdi-office-building"></i>
                <span> Configuraciones </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="nav-second-level collapse" aria-expanded="false">
                <li>
                    <a routerLink="//" routerLinkActive="active" class="side-nav-link-ref">Equipos</a>
                </li>
                <li>
                    <a routerLink="//" routerLinkActive="active" class="side-nav-link-ref">Departamentos</a>
                </li>
                <li>
                    <a routerLink="/projects/status" routerLinkActive="active" class="side-nav-link-ref">Estatus proyectos</a>
                </li>                     
            </ul>
          </li>
          
          <li>
            <a href="javascript: void(0);" class="waves-effect">
                <i class="fe-users"></i>
                <span> Manejo de Seguridad </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="nav-second-level collapse" aria-expanded="false">
                <li>
                    <a routerLink="/security/users" routerLinkActive="active" class="side-nav-link-ref">Usuarios</a>
                </li>
                <li>
                    <a routerLink="/security/roles" routerLinkActive="active" class="side-nav-link-ref">Roles</a>
                </li>                    
            </ul>
          </li>

      </ul>

  </div>
  <!-- End Sidebar -->

  <div class="clearfix"></div>
</ng-template>


<div class="left-side-menu">
  <div class="slimscroll-menu" appSlimScroll *ngIf="!isCondensed">
      <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
  </div>

  <div class="slimscroll-menu" *ngIf="isCondensed">
      <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
  </div>
</div>
<!-- Left Sidebar End -->