<div class="container-fluid">
  <app-page-title title="Manejo de Tickets" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="header-title">Listado</h4>
          <p class="text-muted font-13 mb-4">

          </p>
          <div class="row mb-md-2">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="tickets-table_length"><label
                  class="d-inline-flex align-items-center">Mostrar
                  <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                    [(ngModel)]="service.pageSize"
                    class="custom-select custom-select-sm form-control form-control-sm mx-2">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                  </select> registros</label></div>
            </div>
            <!-- Search -->
            <div class="col-sm-12 col-md-4">
              <div id="tickets-table_filter" class="dataTables_filter text-md-right"><label
                  class="d-inline-flex align-items-center">Buscar:
                  <input type="text" name="searchTerm" class="form-control form-control-sm ml-2"
                    aria-controls="tickets-table" [(ngModel)]="service.searchTerm"></label></div>
            </div>
            <div class="col-sm-12 col-md-2">
              <div class="button-list text-right">
                <!-- Responsive modal -->
                <button type="button" class="btn btn-info btn-sm" (click)="responsiveModal(responsiveData)">
                  Agregar Ticket</button>
              </div>
            </div>
            <!-- End search -->
          </div>
          <!-- Table -->
          <div class="table-responsive">
            <app-ui-preloader [display]="dataLoading | async"></app-ui-preloader>
            <table id="cost-category-table" class="table datatables dt-responsive nowrap">
              <thead>
                <tr>
                  <th sortable="id" (sort)="onSort($event)">Codigo</th>
                  <th sortable="title" (sort)="onSort($event)">Titulo</th>
                  <th sortable="hoursWorked" (sort)="onSort($event)">Horas trabajadas</th>
                  <th sortable="reportedFailure" (sort)="onSort($event)">Falla reportada</th>
                  <th sortable="technicalFailure" (sort)="onSort($event)">Falla tecnica</th>
                  <th sortable="solutionDone" (sort)="onSort($event)">Solucion realizada</th>
                  <th sortable="notes" (sort)="onSort($event)">Notas</th>
                  <th sortable="startTime" (sort)="onSort($event)">Fecha inicio</th>
                  <th sortable="endTime" (sort)="onSort($event)">Fecha fin</th>
                  <th sortable="ticketStatusId" (sort)="onSort($event)">Estatus</th>
                  <th sortable="ticketCategoryId" (sort)="onSort($event)">Categoria</th>
                  <th sortable="ticketTypeId" (sort)="onSort($event)">Tipo</th>
                  <th sortable="ticketProcessId" (sort)="onSort($event)">Proceso</th>
                  <th sortable="ticketDate" (sort)="onSort($event)">Fecha</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr tr *ngFor="let table of tables$ | async">
                  <td>
                    <ngb-highlight [result]="table.id" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.title" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.hoursWorked" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.reportedFailure" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.technicalFailure" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.solutionDone" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.notes" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.startTime | date:'dd-MM-yyyy'" [term]="service.searchTerm">
                    </ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.endTime | date:'dd-MM-yyyy'" [term]="service.searchTerm">
                    </ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.ticketStatusName" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.ticketCategoryName" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.ticketTypeName" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.ticketProcessName" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.ticketDate | date:'dd-MM-yyyy'" [term]="service.searchTerm">
                    </ngb-highlight>
                  </td>
                  <td>
                    <button type="button" class="btn btn-xs btn-outline-info btn-rounded" ngbTooltip="Editar Cliente"
                      (click)="responsiveModal(responsiveData, table.id)">
                      <i class="fe-edit"></i>
                    </button>
                    <button type="button" class="btn btn-xs btn-outline-danger btn-rounded"
                      ngbTooltip="Eliminar Cliente" (click)="deleteItem(table.id)">
                      <i class="fe-trash-2"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- End table -->
          <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Mostrando
                {{service.startIndex}} hasta
                {{service.endIndex}} de {{service.totalRecords}}
                registros
              </div>
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-right pagination-rounded">
                <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
                </ngb-pagination>
              </div>
            </div>
            <!-- End Pagination -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Responsive Modal -->
<ng-template #responsiveData let-modal="close">
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="IsEdit">Editar Tickets</h4>
    <h4 class="modal-title" *ngIf="!IsEdit">Crear Tickets</h4>
    <button type="button" class="close" (click)="modal('Cross click')" aria-hidden="true">×</button>
  </div>
  <form class="needs-validation" (ngSubmit)="validSubmit()" [formGroup]="innerform">
    <app-ui-preloader [display]="loading"></app-ui-preloader>
    <div class="modal-body p-4">
      <div class="center-div">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <input type="hidden" class="form-control" name="id" formControlName="id" value="0">
              <input type="hidden" class="form-control" name="organizationId" formControlName="organizationId" value="0">
              <label>Titulo<span class="text-danger">*</span></label>
              <div class="input-group mb-2">
                <input type="text" class="form-control" name="title" formControlName="title" value=""
                  [ngClass]="{'is-invalid': submit && form.title.errors}">
                <div *ngIf="submit && form.title.errors" class="invalid-feedback">
                  <span *ngIf="form.title.errors.required">El Titulo es requerido</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <label>Fecha de Ticket<span class="text-danger">*</span></label>
              <div class="input-group mb-2">
                <input type="date" class="form-control" name="ticketDate" formControlName="ticketDate"
                  [ngClass]="{'is-invalid': submit && form.ticketDate.errors}">
                <div *ngIf="submit && form.ticketDate.errors" class="invalid-feedback">
                  <span *ngIf="form.ticketDate.errors.required">La Fecha es requerida.</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <label>Fecha de inicio</label>
              <div class="input-group mb-2">
                <input type="date" class="form-control" name="startTime" formControlName="startTime">
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <label>Fecha fin</label>
              <div class="input-group mb-2">
                <input type="date" class="form-control" name="endTime" formControlName="endTime">
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <label>Horas trabajadas</label>
              <div class="input-group mb-2">
                <input type="text" class="form-control" name="hoursWorked" formControlName="hoursWorked" value="">
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <label>Falla reportada</label>
              <div class="input-group mb-2">
                <input type="text" class="form-control" name="reportedFailure" formControlName="reportedFailure"
                  value="">
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <label>Falla tecnica</label>
              <div class="input-group mb-2">
                <input type="text" class="form-control" name="technicalFailure" formControlName="technicalFailure"
                  value="">
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <label>Solucion realizada</label>
              <div class="input-group mb-2">
                <input type="text" class="form-control" name="solutionDone" formControlName="solutionDone" value="">
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <label>Notas</label>
              <div class="input-group mb-2">
                <input type="text" class="form-control" name="notes" formControlName="notes" value="">
              </div>
            </div>
          </div>          
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <label>Estatus<span class="text-danger">*</span></label>
              <ng-select [items]="status" bindValue="id" bindLabel="name" placeholder="Seleccionar" 
              name="ticketStatusId" formControlName="ticketStatusId" class="custom-select2"
                [ngClass]="{'is-invalid': submit && form.ticketStatusId.errors}"></ng-select>
              <div *ngIf="submit && form.ticketStatusId.errors" class="invalid-feedback">
                <span *ngIf="form.ticketStatusId.errors.required">El Estatus es requerido.</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <label>Categoria</label>
              <ng-select [items]="categories" bindValue="id" bindLabel="name" placeholder="Seleccionar" 
              name="ticketCategoryId" formControlName="ticketCategoryId" class="custom-select2"></ng-select>
            </div>           
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <label>Tipo<span class="text-danger">*</span></label>
              <ng-select [items]="types" bindValue="id" bindLabel="name" placeholder="Seleccionar" 
              name="ticketTypeId" formControlName="ticketTypeId" class="custom-select2"
                [ngClass]="{'is-invalid': submit && form.ticketTypeId.errors}"></ng-select>
              <div *ngIf="submit && form.ticketTypeId.errors" class="invalid-feedback">
                <span *ngIf="form.ticketTypeId.errors.required">El Tipo es requerido</span>
              </div>
            </div>             
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <label>Proceso</label>
              <ng-select [items]="processes" bindValue="id" bindLabel="name" placeholder="Seleccionar" 
              name="ticketProcessId" formControlName="ticketProcessId" class="custom-select2"></ng-select>
            </div>            
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light waves-effect btn-sm" (click)="modal('Cross click')">Cerrar</button>
      <button type="submit" class="btn btn-success btn-sm">Guardar</button>
    </div>
  </form>
</ng-template>