<div class="account-pages mt-5 mb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-pattern">
          <div class="card-body p-4">
            <!-- Logo -->
            <div class="text-center w-75 m-auto">
              <a routerLink="/">
                <img src="assets/images/logo_consite.png" alt="" height="30">
              </a>
              <p class="text-muted mb-4 mt-3">Distribuimos tecnología Hardware-Software</p>
            </div>

            <form class="needs-validation" name="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>

              <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>
              <app-ui-preloader [display]="loading"></app-ui-preloader>
              <div class="form-group mb-3">
                <label for="email">Usuario</label>

                <input type="email" formControlName="email" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" placeholder="Email o Usuario" />

                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email o Usuario es obligatorio</div>
                </div>
              </div>

              <div class="form-group mb-3">
                <label for="password">Contraseña</label>

                <input type="password" formControlName="password" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="password" placeholder="Password" />

                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Contraseña es obligatoria</div>
                </div>
              </div>

              <div class="form-group mb-0 text-center">
                <button class="btn btn-primary btn-block" type="submit">Ingresar</button>
              </div>
            </form>            
          </div> <!-- end card-body -->
        </div>
        <!-- end card -->

        <div class="row mt-3">
          <div class="col-12 text-center">
            <p>
              <a routerLink="/account/reset-password" class="text-white-50 ml-1">¿Olvidaste tu contraseña?</a>
            </p>
            <p class="text-white-50">¿No tienes una cuenta? <a routerLink="/account/signup" class="text-white ml-1"><b>Registrarse</b></a>
            </p>
          </div> <!-- end col -->
        </div>
        <!-- end row -->

      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->

<footer class="footer footer-alt">
  2021 &copy; Comsite Company theme by <a href="https://wa.me/584143910271" target="_blank" class="text-white-50">iVicsant Technologies</a> 
</footer>