<div class="container-fluid">
  <app-page-title title="Proyectos" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row mb-2">
    <div class="col-sm-4">
      <button type="button" class="btn btn-danger btn-rounded mb-3" (click)="responsiveModal(responsiveData)">
        <i class="mdi mdi-plus"></i> Crear Proyecto
      </button>
    </div>
    <div class="col-sm-8">
      <div class="text-sm-right">
        <div class="btn-group mb-1">
          <button type="button" *ngFor="let status of projectStatus" (click)="changeStatus(status.id, status.name)"
            class="btn ml-1" [ngClass]="currentStatus == status.name ? 'btn-primary' : 'btn-light'">
            {{status.name}}
          </button>
        </div>
      </div>
    </div><!-- end col-->
  </div>
  <!-- end row-->

  <div class="row">
    <div class="col-12">
      <app-ui-preloader [display]="dataLoading$ | async"></app-ui-preloader>
    </div>
    <div class="col-xl-4" *ngFor="let project of tables$ | async">
      <div class="card-box project-box">

        <ng-template [ngTemplateOutlet]="CardActions" [ngTemplateOutletContext]="{project:project}"></ng-template>
        <!-- Title-->
        <a [routerLink]="['/assignments/list', project.id]">
          <h4 class="mt-0">{{project.title}}</h4>
          <p class="text-muted text-uppercase"><i class="mdi mdi-account-circle"></i>
            <small>{{project.organizationName}}</small>
          </p>
          <div class="badge bg-soft-success text-success mb-3" [ngClass]="{
            'bg-soft-info text-info': project.projectStatusName == 'A Tiempo',
            'bg-soft-danger text-danger': project.projectStatusName == 'En Riesgo',
            'bg-soft-dark text-dark': project.projectStatusName == 'En Espera'
          }">
            {{project.projectStatusName}}</div>
          <!-- Desc-->
          <p class="text-muted font-13 mb-3 sp-line-2">{{project.description | slice:0:200 }}
          </p>
          <!-- Task info-->
          <p class="mb-1">
            <span class="pr-2 text-nowrap mb-2 d-inline-block">
              <i class="mdi mdi-format-list-bulleted-type text-muted"></i>
              <b> {{project.totalTasks}}</b> Tareas
            </span>
            <span class="text-nowrap mb-2 d-inline-block">
              <i class="mdi mdi-comment-multiple-outline text-muted"></i>
              <b> {{project.comments}}</b> Comentarios
            </span>
          </p>
          <!-- Team-->
          <div class="avatar-group mb-3">
            <div href="javascript: void(0);" class="avatar-group-item" *ngFor="let user of project.users">
              <img [src]="user.userImageUrl ? urlAPI + user.userImageUrl : 'assets/images/users/user.png'"
                alt="{{user.userName}}" ngbTooltip="{{user.userName}}" class="rounded-circle avatar-sm" alt="friend" />
            </div>
          </div>
          <!-- Progress-->
          <p class="mb-2 font-weight-bold">Tareas completadas: <span
              class="float-right">{{project.totalTasks}}/{{project.totalTasks}}</span></p>
          <ngb-progressbar [value]="project.totalTasks" [max]="project.totalTasks" height="7px">
          </ngb-progressbar>
        </a>
      </div> <!-- end card box-->
    </div><!-- end col-->
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Mostrando
        {{service.startIndex}} hasta
        {{service.endIndex}} de {{service.totalRecords}}
        registros
      </div>
    </div>
    <!-- Pagination -->
    <div class="col-sm-12 col-md-6">
      <div class="text-md-right float-md-right pagination-rounded">
        <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
        </ngb-pagination>
      </div>
    </div>
    <!-- End Pagination -->
  </div>
</div>
<br />
<ng-template #CardActions let-project='project'>
  <div class="dropdown float-right" ngbDropdown>
    <a href="javascript: void(0);" class="dropdown-toggle card-drop arrow-none" ngbDropdownToggle aria-expanded="false">
      <i class="mdi mdi-dots-horizontal m-0 text-muted h3"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
      <a class="dropdown-item" href="javascript: void(0);"
        (click)="responsiveModal(responsiveData, project.id)">Editar</a>
      <a class="dropdown-item" href="javascript: void(0);" (click)="deleteItem(project.id)">Eliminar</a>
      <a class="dropdown-item" href="javascript: void(0);" (click)="addOrEditMember(AddMember, project.id)">Agregar
        miembros</a>
      <a class="dropdown-item" href="javascript: void(0);">Agrega Vencimiento</a>
    </div>
  </div> <!-- end dropdown -->
</ng-template>

<!-- Responsive Modal -->
<ng-template #responsiveData let-modal="close">
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="IsEdit">Editar Proyecto</h4>
    <h4 class="modal-title" *ngIf="!IsEdit">Crear Proyecto</h4>
    <button type="button" class="close" (click)="modal('Cross click')" aria-hidden="true">×</button>
  </div>
  <form class="needs-validation" (ngSubmit)="validSubmit()" [formGroup]="innerform">
    <app-ui-preloader [display]="loading"></app-ui-preloader>
    <div class="modal-body p-4">
      <div class="center-div">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <input type="hidden" class="form-control" name="id" formControlName="id" value="0">
              <input type="hidden" class="form-control" name="organizationId" formControlName="organizationId"
                value="0">
              <label>Titulo</label>
              <div class="input-group mb-2">
                <input type="text" class="form-control" name="title" formControlName="title" value=""
                  [ngClass]="{'is-invalid': submit && form.title.errors}">
                <div *ngIf="submit && form.title.errors" class="invalid-feedback">
                  <span *ngIf="form.title.errors.required">El titulo es requerido</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <label>Fecha de Inicio<span class="text-danger">*</span></label>
              <div class="input-group mb-2">
                <input type="date" class="form-control" name="startDate" formControlName="startDate"
                  [ngClass]="{'is-invalid': submit && form.startDate.errors}">
                <div *ngIf="submit && form.startDate.errors" class="invalid-feedback">
                  <span *ngIf="form.startDate.errors.required">La Fecha es requerida</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <label>Fecha de Fin</label>
              <div class="input-group mb-2">
                <input type="date" class="form-control" name="endDate" formControlName="endDate">
              </div>
            </div>
          </div>
          <div class="col-md-12 col-xs-12">
            <div class="form-group">
              <label>Descripcion</label>
              <div class="input-group mb-2">
                <textarea type="text" class="form-control" name="description" formControlName="description" rows="5"
                  value=""></textarea>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <label>Estatus<span class="text-danger">*</span></label>
              <ng-select [items]="projectStatus" bindValue="id" bindLabel="name" placeholder="Seleccionar"
                name="projectStatusId" formControlName="projectStatusId" class="custom-select2"
                [ngClass]="{'is-invalid': submit && form.projectStatusId.errors}"></ng-select>
              <div *ngIf="submit && form.projectStatusId.errors" class="invalid-feedback">
                <span *ngIf="form.projectStatusId.errors.required">El Estatus es requerido.</span>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-xs-12">
            <div class="form-group">
              <label>Miembros</label>
              <ng-select [items]="users" [multiple]="true" bindValue="id" bindLabel="fullName" placeholder="Seleccionar"
                name="usersIds" formControlName="usersIds" class="custom-select2"></ng-select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light waves-effect btn-sm" (click)="modal('Cross click')">Cerrar</button>
      <button type="submit" class="btn btn-success btn-sm">Guardar</button>
    </div>
  </form>
</ng-template>


<!-- Responsive Modal AddMember -->
<ng-template #AddMember let-modal="close">
  <div class="modal-header">
    <h4 class="modal-title">Participantes</h4>
    <button type="button" class="close" (click)="modal('Cross click')" aria-hidden="true">×</button>
  </div>
  <form class="needs-validation" (ngSubmit)="addMemberSubmit()" [formGroup]="memberform">
    <app-ui-preloader [display]="loading"></app-ui-preloader>
    <div class="modal-body pb-2">
      <div class="center-div">
        <div class="row">
          <div class="col-12 pb-2">
            <h4>Agregar miembros a este Proyecto</h4>
          </div>
          <div class="col-md-12 col-xs-12">
            <input type="hidden" class="form-control" name="idProject" formControlName="idProject" value="0">
            <div class="form-group">
              <label>Miembros</label>
              <ng-select [items]="users" [multiple]="true" bindValue="id" bindLabel="fullName" placeholder="Seleccionar"
                name="usersIds" formControlName="usersIds" class="custom-select2"></ng-select>
            </div>
          </div>
          <div class="col-12 pb-2">
            <h4></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light waves-effect btn-sm" (click)="modal('Cross click')">Cerrar</button>
      <button type="submit" class="btn btn-success btn-sm">Guardar</button>
    </div>
  </form>
</ng-template>