<div class="container-fluid">
  <app-page-title title="Equipos" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="header-title">Listado</h4>
          <p class="text-muted font-13 mb-4">

          </p>
          <div class="row mb-md-2">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="tickets-table_length"><label
                  class="d-inline-flex align-items-center">Mostrar
                  <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                    [(ngModel)]="service.pageSize"
                    class="custom-select custom-select-sm form-control form-control-sm mx-2">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                  </select> registros</label></div>
            </div>
            <!-- Search -->
            <div class="col-sm-12 col-md-4">
              <div id="tickets-table_filter" class="dataTables_filter text-md-right"><label
                  class="d-inline-flex align-items-center">Buscar:
                  <input type="text" name="searchTerm" class="form-control form-control-sm ml-2"
                    aria-controls="tickets-table" [(ngModel)]="service.searchTerm"></label></div>
            </div>
            <div class="col-sm-12 col-md-2">
              <div class="button-list text-right">
                <!-- Responsive modal -->
                <button type="button" class="btn btn-info btn-sm" (click)="responsiveModal(responsiveData)">
                  Agregar Equipos</button>
              </div>
            </div>
            <!-- End search -->
          </div>
          <!-- Table -->
          <div class="table-responsive">
            <app-ui-preloader [display]="dataLoading | async"></app-ui-preloader>
            <table id="cost-category-table" class="table datatables dt-responsive nowrap">
              <thead>
                <tr>
                  <th sortable="id" (sort)="onSort($event)">Codigo</th>
                  <th sortable="name" (sort)="onSort($event)">Nombre</th>
                  <th sortable="type" (sort)="onSort($event)">Tipo</th>
                  <th sortable="serial" (sort)="onSort($event)">Serial</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr tr *ngFor="let table of tables$ | async">
                  <td>
                    <ngb-highlight [result]="table.id" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.name" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.type" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.serial" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <button type="button" class="btn btn-xs btn-outline-info btn-rounded" ngbTooltip="Editar Cliente"
                      (click)="responsiveModal(responsiveData, table.id)">
                      <i class="fe-edit"></i>
                    </button>
                    <button type="button" class="btn btn-xs btn-outline-danger btn-rounded"
                      ngbTooltip="Eliminar Cliente" (click)="deleteItem(table.id)">
                      <i class="fe-trash-2"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- End table -->
          <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Mostrando
                {{service.startIndex}} hasta
                {{service.endIndex}} de {{service.totalRecords}}
                registros
              </div>
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-right pagination-rounded">
                <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
                </ngb-pagination>
              </div>
            </div>
            <!-- End Pagination -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Responsive Modal -->
<ng-template #responsiveData let-modal="close">
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="IsEdit">Editar Equipos</h4>
    <h4 class="modal-title" *ngIf="!IsEdit">Crear Equipos</h4>
    <button type="button" class="close" (click)="modal('Cross click')" aria-hidden="true">×</button>
  </div>
  <form class="needs-validation" (ngSubmit)="validSubmit()" [formGroup]="innerform">
    <app-ui-preloader [display]="loading"></app-ui-preloader>
    <div class="modal-body p-4">
      <div class="center-div">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <input type="hidden" class="form-control" name="id" formControlName="id" value="0">
              <label>Nombre</label>
              <div class="input-group mb-2">
                <input type="text" class="form-control" name="name" formControlName="name" value=""
                  [ngClass]="{'is-invalid': submit && form.name.errors}">
                <div *ngIf="submit && form.name.errors" class="invalid-feedback">
                  <span *ngIf="form.name.errors.required">El Nombre es requerido</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <label>Tipo</label>
              <div class="input-group mb-2">
                <input type="text" class="form-control" name="type" formControlName="type" value="">
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <label>Marca</label>
              <div class="input-group mb-2">
                <input type="text" class="form-control" name="make" formControlName="make" value="">
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <label>Modelo</label>
              <div class="input-group mb-2">
                <input type="text" class="form-control" name="model" formControlName="model" value="">
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <label>Serial</label>
              <div class="input-group mb-2">
                <input type="text" class="form-control" name="serial" formControlName="serial" value="">
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <label>Usuario del Equipo<span class="text-danger">*</span></label>
              <ng-select [items]="equipmentUsers" bindValue="id" bindLabel="name" placeholder="Seleccionar"
                name="equipmentUserId" formControlName="equipmentUserId" class="custom-select2"
                [ngClass]="{'is-invalid': submit && form.equipmentUserId.errors}"></ng-select>
              <div *ngIf="submit && form.equipmentUserId.errors" class="invalid-feedback">
                <span *ngIf="form.equipmentUserId.errors.required">El Usuario es requerido.</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <label>Departamento<span class="text-danger">*</span></label>
              <ng-select [items]="departments" bindValue="id" bindLabel="name" placeholder="Seleccionar"
                name="departmentId" formControlName="departmentId" class="custom-select2"
                [ngClass]="{'is-invalid': submit && form.departmentId.errors}"></ng-select>
              <div *ngIf="submit && form.departmentId.errors" class="invalid-feedback">
                <span *ngIf="form.departmentId.errors.required">El Departamento es requerido.</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <label>Caracteristicas</label>
              <div class="input-group mb-2">
                <textarea type="text" class="form-control" name="features" formControlName="features"
                  rows="5" value=""></textarea>
              </div>  
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <label>Notas</label>
              <div class="input-group mb-2">
                <textarea type="text" class="form-control" name="notes" formControlName="notes"
                  rows="5" value=""></textarea>
              </div>              
            </div>
          </div>          
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light waves-effect btn-sm" (click)="modal('Cross click')">Cerrar</button>
      <button type="submit" class="btn btn-success btn-sm">Guardar</button>
    </div>
  </form>
</ng-template>